* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.avatar {
  width: 100%;
}
.card {
  margin-inline: auto;
  width: 450px;
  padding: 10px 50px;
  border: 1px solid black;
}

.wrapper {
    margin: 10% auto;
  padding: 50px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2f2f2f;
  border-radius: 10px;
}

#getJoke {
  font-size: 2rem;
  color: #eed7b3;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #2f3034;
  margin-bottom: 20px;
  transition: background-color 0.5s;
}
#joke {
  color: #2f3034;
  font-size: 23px;
}

#getJoke:active {
  background-color: #eed7b3;
  color: #2f3034;
  transition: background-color ease-in-out;
}
