::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  font-family: BlinkMacSystemFont, Segoe UI;
  color: #1c1d1f;
}
body {
  background-color: #f6f6f6;
}

.banner-img {
  width: 100%;
}

.nav-content{
  position: relative;
}
.navtab {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
}
.nav-links1 {
  min-height: 2.4375rem !important;
  background-color: #fff;
}

.nav-links1,
.nav-links1 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links1 li {
  display: inline-block;
}
.nav-links1 img {
  max-height: 1.125rem;
  max-width: 6.25rem;
  margin-right: 3.125rem;
}

.static-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.static-nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-links2 {
  background-color: #ed017f;
  color: #4a4a4a;
  /* height: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-link {
  margin-right: 60px;
}
.nav-logo {
  height: 30px;
  object-fit: cover;
}

.wrapper,
.search-input {
  display: inline-block;
  padding: 1.2rem 0.9375rem;
}

.search-input {
  width: 35%;
  padding: 0;
  display: flex;
  height: 24px;
  margin-inline: 10px;
}

.input {
  flex: 1;
  border: none;
  height: inherit;
  border-radius: 4px 0 0 4px;
  padding: 10px;
}
.search-btn {
  background-color: #fba100;
  color: #fff;
  cursor: pointer;
  height: inherit;
  border-radius: 0 4px 4px 0;
  padding-inline: 10px;
  border: none;
}
.cart {
  background-color: #33b27b;
  border-radius: 0.125rem;
  height: 2.5rem;
  padding-top: 10px;
  margin-left: 10px;
}

.nav-links3 {
  background-color: #94004f;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.nav-links3 ul {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.nav-links3 li {
  display: inline-block;
  flex-grow: 1;
  text-wrap-mode: nowrap;
  cursor: pointer;
  padding: 0.75rem 1.975rem;
  margin-right: 0;
}

.wrap-hover:hover,
.nav-links3 li:hover {
  background-color: #fff;
  transition: background-color 0.5s ease-in-out;
}
.wrap-hover:hover a {
  color: #ed017f;
  transition: color 0.5s ease-in-out;
}
.nav-links3 li:hover a {
  color: black;
  transition: color 0.5s ease-in-out;
}
.cart:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}
.input:focus {
  outline: none;
}

.navStatus {
  background-color: #fff;
  padding: 12px 7%;
}

.dirlink {
  display: inline-block;
}
.dirlink > a {
  text-decoration: none;
  cursor: pointer;
}

.dirlink1::after {
  content: ">";
  color: lightgrey;
}
.pagetab2 {
  color: #9a0052;
  font-weight: 500;
}

.pagetabtitle {
  font-size: 30px;
  font-weight: 700;
  margin-top: 5px;
}

.products {
  margin: 20px 7% 30px;
}

.ad-img,
.product-img {
  width: 100%;
  object-fit: cover;
}
.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.product-card {
  background-color: #fff;
  max-width: 300px;
  padding: 5px;
  max-width: 244.39px;
  max-height: 435px;
  transition: box-shadow 0.3s ease;
}
.product-card:hover{
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2), -3px 0 5px rgba(0, 0, 0, 0.2);
}
.product-img-wrap {
  max-width: 200px;
  max-height: 200px;
}
.product-name {
  font-size: 0.83rem;
  margin-block: 6px;
}
.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
  margin-bottom: 16px;
}
.price-tag1 {
  font-size: 16px;
}
.price-tag2 {
  color: darkslategray;
  text-decoration: line-through;
}
.discount {
  color: #c60000;
  background-color: rgba(255, 59, 59, 0.2);
  border-radius: 7px;
  padding: 3px;
  font-size: 6px;
  font-weight: bold;
}

.set-time {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  border-top: 1px solid lightgray;
  border-radius: 0;
  padding-block: 10px;
}

.set-time > * {
  display: inline-block;
}
.set-time > p {
  flex: 1;
  margin-left: 3px;
}
.set-time > img {
  flex: 0.07;
}

.stock-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  border-radius: 0;
  padding-block: 10px;
}

.bar {
  width: 50%;
  height: 8px;
  background-color: lightgray;
  border-radius: 15px;
}

.green {
  background-color: #33b27b;
  height: 100%;
  width: 50%;
  border-radius: 15px;
}

.addCart-btn {
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border: 0.0625rem solid #ed017f;
  border-radius: 5px;
  color: #f84ca2;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.addCart-btn:hover {
  background-color: #ed017f;
  color: #fff;
}
.addCart-btn:active {
  background-color: #ed017f;
}

footer {
  background-color: #0c0c0c;
  color: #b5b5b5;
}

footer h4, footer p{
  color: #b5b5b5;

}
footer a {
  text-decoration: none;
  color: #b5b5b5;
}

.foot1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 7%;
  padding-block: 10px;
  max-width: 100%;
  background-color: #2e2e2e;
  
}

.foot1-item .icons-1 {
  display: flex;
  align-items: center;
}

.firstWrap,
.secondWrap, .foot1-item {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 18px;
  white-space: nowrap;
}
.foot1-item{
  gap: 5px;
}

.foot1 h4 {
  margin-bottom: 8px;
}

.foot1-5 {
  display: flex;
  height: 30px;
  font-size: 1rem;
}
.foot1-5 .input {
  flex: 1;
  border: none;
  height: inherit;
  border-radius: 4px 0 0 4px;
  padding: 10px;
  max-width: 200px;
}
.sub-btn {
  background-color: #ed017f;
  color: #fff;
  cursor: pointer;
  height: inherit;
  border-radius: 0 4px 4px 0;
  padding-inline: 10px;
  border: none;
  font-weight: 600;
}

.foot2 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin-left: 7%;
  margin-right: 10%;
  margin-top: 18px;

}

.firstSet {
  display: flex;
  align-items: start;
  gap: 10px 40px;
  white-space: nowrap;
  flex-wrap: wrap;
}

.firstSet h4, .secondSet h4 {
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: 600;
}
.firstSet ul {
  list-style: none;
}
.firstSet ul li {
  margin-bottom: 6px;
}

.foot2-6 {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 25px;
}
.foot2-6 a{
  max-width: 100px;
}
.foot2-7 > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.foot2-7 h4 {
  margin-bottom: 4px;
}
.icons-1 {
  background-color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 5px;
}
.icons img, .foot2-6 img{
  width: 100%;
}
.icons {
  background-color: rgb(59, 59, 59);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 4px;
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 50px;
  padding-block-end: 20px;
}
.footer-text {
  color: #999797;
  text-align: center;
  margin-inline: 5px;
  display: inline-block;
  font-size: 0.7rem;
}

.footer-line {
  flex: 1;
  display: inline;
  background-color: #999797;
  height: 0.8px;
}

@media (max-width: 902px) {
  .hidden{
    display: none;
  }
}
@media (max-width: 724px) {
  .foot1{
    padding-inline: 4% ;
  }

  .foot2 {
    margin-left: 4%;
    margin-right: 7%;
  
  }
}